@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  background: #222222;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
}

.nav_menu_left {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav_menu_element {
  margin: 10px;
  width: 45px;
  height: 45px;
}

.logo {
  background: url("/Assets/img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.search {
  background: url("/Assets/img/logo_search.png");
  background-repeat: no-repeat;
  background-position: center;
}

.nav_menu_right {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.header_menu {
  background: url("/Assets/img/header_menu.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header_face {
  background: url("/Assets/img/header_face.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header_basket {
  background: url("/Assets/img/header_basket.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #F1E4E6;
  margin-bottom: 65px;
}

.main_top img {
  flex-grow: 1;
  max-width: 800px;
}

.main_top_right {
  flex-grow: 2;
  display: flex;
  justify-content: left;
  align-items: center;
}

.main_top_right_rectangle {
  margin: 16px;
  height: 92px;
  width: 12px;
  background: #F16D7F;
}

.main_top_right_text {
  padding: 16px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 31px;
  line-height: 38px;
}
.main_top_right_text h1 {
  font-size: 48px;
  line-height: 57px;
}

.marker {
  text-transform: uppercase;
  color: #F16D7F;
}

.main_wrap {
  max-width: 1140px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  margin: auto;
}

.main_sales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  grid-gap: 30px;
  margin: 18px;
  margin-bottom: 96px;
}
.main_sales .main_sales_element {
  position: relative;
  text-align: center;
}
.main_sales .main_sales_element img {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -100;
  object-fit: cover;
}
.main_sales .main_sales_element .main_sales_element_descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.main_sales .main_sales_element .main_sales_element_descr h2 {
  font-size: 18px;
  line-height: 29px;
  font-weight: 900;
}
.main_sales .main_sales_element .im1 {
  background-image: url("/Assets/img/main_sales_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.main_sales .main_sales_element .im2 {
  background-image: url("/Assets/img/main_sales_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.main_sales .main_sales_element .im3 {
  background-image: url("/Assets/img/main_sales_3.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.main_sales .main_sales_element .im4 {
  background-image: url("/Assets/img/main_sales_4.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.main_sales .main_sales_element:nth-child(4) {
  grid-column: 1/4;
}

.main_prod_title {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 50px;
}
.main_prod_title h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.main_prod {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(1fr, 581px);
  grid-gap: 30px;
  margin: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.main_prod .main_prod_element {
  background: #F8F8F8;
}
.main_prod .main_prod_element img {
  width: 100%;
}
.main_prod .main_prod_element .main_prod_element_descr {
  /* Здесь грид только для интервала */
  display: grid;
  padding: 25px 30px 20px 18px;
  grid-gap: 15px;
}
.main_prod .main_prod_element .main_prod_element_descr h4 {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.main_prod .main_prod_element .main_prod_element_descr .main_prod_element_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.main_prod_button {
  padding: 15px;
  width: 150px;
  text-align: center;
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin: 50px auto 100px;
}

.main_bottom {
  background: #222224;
}

.wrap {
  max-width: 1140px;
  margin: 104px auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.wrap .main_bottom_element {
  flex-grow: 1;
  padding: 50px 10px;
}
.wrap .sozials {
  margin: 0 auto;
  height: 40px;
  width: 40px;
}
.wrap .sozials_1 {
  background: url("/Assets/img/main_bottom_1.png") no-repeat center center/100%;
}
.wrap .sozials_2 {
  background: url("/Assets/img/main_bottom_2.png") no-repeat center center/100%;
}
.wrap .sozials_3 {
  background: url("/Assets/img/main_bottom_3.png") no-repeat center center/100%;
}
.wrap h4 {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 16px;
}
.wrap span {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer_subscribe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex; */
  /* justify-content: space-between; */
  min-height: 450px;
  /* opacity не получается на фоновую картинку кинуть background: url('/Assets/img/footer_background.png') no-repeat center center/100%; */
  /* поздно в макете заметил, как сделать проще... Оставляю по-своему */
  position: relative;
  background: rgba(244, 244, 244, 0.7);
}

/* Если поставить на картинку максимальную высоту (получается красиво), ломается адаптив. */
.bgopacity {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

.footer_subscribe_left {
  /* flex-grow: 1; */
  margin: 100px 18px 0;
  text-align: center;
}
.footer_subscribe_left .footer_subscribe_left_descr {
  margin: 20px auto;
  max-width: 360px;
}

.footer_subscribe_right {
  /* flex-grow: 1; */
  margin: 150px 18px 0 0;
  text-align: center;
}

.form_subscr {
  margin: 30px;
}
.form_subscr input {
  border: none;
  border-radius: 10px;
  outline: none;
  height: 50px;
  max-width: 250px;
  -webkit-appearance: none;
  vertical-align: middle;
}
.form_subscr input[type=email] {
  border-radius: 10px 0% 0% 10px;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  text-align: center;
  background: #E1E1E1;
}
.form_subscr input[type=button] {
  background-color: #F16D7F;
  border-radius: 0% 10px 10px 0;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  width: 130px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background: #222224;
  /* min-height: 80px; */
}
.footer .footer_left {
  margin: auto;
  text-align: center;
  flex-grow: 1;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer .footer_right {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.footer .footer_right a {
  margin: 30px 5px;
}
.footer .footer_right_element {
  height: 32px;
  width: 32px;
  background: #FFFFFF;
  margin: auto 8px;
}
.footer a:hover {
  /* не придумал ничего другого... background: $mark_color; */
  filter: invert(100%);
}
.footer .fb {
  background-image: url("/Assets/img/sozials_1.png");
}
.footer .ig {
  background-image: url("/Assets/img/sozials_2.png");
}
.footer .pi {
  background-image: url("/Assets/img/sozials_3.png");
}
.footer .tw {
  background-image: url("/Assets/img/sozials_4.png");
}

@media (max-width: 1200px) {
  .main_prod {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 820px) {
  .main_top {
    min-height: 367px;
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
  }

  .main_top_right {
    justify-content: center;
  }

  .main_top img {
    display: none;
  }

  .wrap {
    flex-direction: column;
    max-width: 360px;
  }

  .footer_subscribe {
    display: block;
    min-height: auto;
  }
  .footer_subscribe .footer_subscribe_right {
    margin-top: 50px;
  }

  .main_sales {
    display: flex;
    flex-direction: column;
  }
  .main_sales .main_sales_element {
    height: 280px;
  }

  .main_prod {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer_subscribe_right {
    margin-bottom: 100px;
  }

  .footer {
    flex-direction: column-reverse;
  }
}